@model Settings;

@{
    var logo = Model.Image;
    var titles = Model.TitleList;
    var links = Model.SocialLinks;
    var firstLinkList = Model.FirstLinkList;
    var secondLinkList = Model.SecondLinkList;

}

<footer id="footer">

    <div class="footer-top">
        <div class="container" style="margin-top:30px">
            @foreach (var title in titles)
            {
                <span style="color:black; margin-right:15px; font-size:20px">@title</span>
            }
            <hr />
        </div>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact" style="margin-bottom:10%">
                    <img src="@logo.Url()" alt="logo" style=" margin-bottom:3%" />
                    <p>
                        @Html.Raw(Model.GeneralInfo)
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>@Model.FirstLinkListTitle</h4>
                    <ul>
                        @foreach (var item in firstLinkList)
                        {
                            <li><i class="bx bx-chevron-right"></i> <a href="@item.Url">@item.Name</a></li>
                        }
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>@Model.SecondLinkListTitle</h4>
                    <ul>
                        @foreach (var item in secondLinkList)
                        {
                            <li><i class="bx bx-chevron-right"></i> <a href="@item.Url">@item.Name</a></li>
                        }
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>@Model.SocialLinksTitle</h4>
                    <div class="social-links mt-3">
                        @foreach (var item in links)
                        {
                            <a href="@item.Link.First().Url" class="message"><i class="@item.IconClass"></i></a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright" align="center">
            <p>@Html.Raw(Model.Permission)</p>
        </div>
    </div>
</footer>